{{!< layout}}
<div class="grid">
	<div class="module">
		<section class="toolbar grid">
			<div class="col-1-3">
				<nav class="toolbar-menu">
					<ul>
						<li><a href="/{{user}}/chores?sort=_id"><span class="icon-calendar"></span>Sort: Date Created</a></li>
						<li><a href="/{{user}}/chores?sort=prio"><span class="icon-fire"></span>Sort: Prio</a></li>
					</ul>
				</nav>
			</div>


			<div class="col-1-3">
				<nav class="toolbar-menu">
					<ul>
						<li class="current"><a class="active" href="/{{user}}/chores"><span class="icon-pushpin"></span>Current</a></li>
						<li class="completed"><a href="/{{user}}/chores/completed"><span class="icon-checkmark"></span>Completed</a></li>
						<li class="failed"><a href="/{{user}}/chores/failed"><span class="icon-warning"></span>Failed</a></li>
					</ul>
				</nav>
			</div>


			<div class="col-1-3">
				<a href="/{{user}}/chores/new" class="btn new-chore"><span class="icon-plus"></span>New Chore</a>
				<span class="points">Points: {{meta.points}}</span></span>
			</div>

		</section>


		{{#if chores}}
			{{#each chores}}
			<div class="col-1-4">
				<div class="task module risk-{{prio}}">
					<h3>{{ name }}</h3>

					<p class="reward"><span class="icon-coin"></span>Reward: <span>{{ reward }}</span></p>
					<p class="risk"><span class="icon-fire"></span>Priority: {{prio}}</p>
					<p class="due"></span>Complete this chore before:</br> <span class="date-stamp">{{ date.format }}</span></br> to recieve reward.</p>

					<form class="complete-chore" action="/{{../user}}/chores/completed/{{_id}}" method="POST">
						<button class="btn task-done"><span class="icon-checkmark"></span>Finished</button>
					</form>


					<div class="manage">
						<form action="/{{../user}}/chores/{{_id}}" method="POST">
							<input type="hidden" name="_method" value="DELETE">
							<button class="remove"><span class="icon-remove"></span></button>
						</form>

						<form action="/{{../user}}/chores/edit/{{_id}}" method="GET">
							<button class="edit"><span class="icon-pencil"></span></button>
						</form>


					</div>
				</div>
			</div>
			{{/each}}
		{{else}}
			<p class="no-chore-message">You have no current chores. Add one in the top corner.</p>
		{{/if}}

	</div> {{! end .module }}
</div> {{! end .grid }}
