{{!< layout}}
<div class="grid">
	<div class="module">
		<section class="toolbar grid">
			<div class="col-1-3">
				<nav class="toolbar-menu">
					<ul>
						{{#if sortId}}
							<li><a class="active" href="/{{user}}/chores?sort=_id"><span class="icon-calendar"></span>Sort: Date Created</a></li>
						{{else}}
							<li><a href="/{{user}}/chores?sort=_id"><span class="icon-calendar"></span>Sort: Date Created</a></li>
						{{/if}}

						{{#if sortPrio}}
							<li><a class="active" href="/{{user}}/chores?sort=prio"><span class="icon-fire"></span>Sort: Prio</a></li>
						{{else}}
							<li><a href="/{{user}}/chores?sort=prio"><span class="icon-fire"></span>Sort: Prio</a></li>
						{{/if}}
					</ul>
				</nav>
			</div>


			<div class="col-1-3">
				<nav class="toolbar-menu">
					<ul>
						<li class="current"><a class="active" href="/{{user}}/chores"><span class="icon-pushpin"></span>Current</a></li>
						<li class="completed"><a href="/{{user}}/chores/completed"><span class="icon-checkmark"></span>Completed</a></li>
						<li class="failed"><a href="/{{user}}/chores/failed"><span class="icon-warning"></span>Failed</a></li>
					</ul>
				</nav>
			</div>


			<div class="col-1-3">
				<span class="points">Rank: {{meta.rank}}</span>
				<span class="points">Points: {{meta.points}}</span>
				<span class="points">Multiplier: {{meta.multiplier}}x</span>
			</div>

		</section>


		{{#if chores}}
			{{#each chores}}
			<div class="col-1-4">
				<div class="task module risk-{{prio}}">
					<h3>{{ name }}</h3>

					<p class="reward"><span class="icon-coin"></span>Reward: <span>{{ reward }}</span></p>
					<p class="risk"><span class="icon-fire"></span>Priority: {{prio}}</p>
					<p class="due"></span>Complete this chore before:</br> <span class="date-stamp">{{ date.format }}</span></br> to recieve reward.</p>

					<form class="complete-chore" action="/{{../user}}/chores/completed/{{_id}}" method="POST">
						<button class="btn task-done"><span class="icon-checkmark"></span>Mark Finished</button>
					</form>


					<div class="manage">
						<form action="/{{../user}}/chores/{{_id}}" method="POST">
							<input type="hidden" name="_method" value="DELETE">
							<button class="remove"><span class="icon-remove"></span></button>
						</form>

						<form action="/{{../user}}/chores/edit/{{_id}}" method="GET">
							<button class="edit"><span class="icon-pencil"></span></button>
						</form>


					</div>
				</div>
			</div>
			{{/each}}
		{{else}}
			<p class="no-chore-message">You have no current chores. Add one in the top corner.</p>
		{{/if}}

		{{#if alertBadge}}
			<div class="badge-module-alert">
				<div class="module-alert-inner">
					<div class="module-alert-header module clearfix">
						<h3>You just got awarded a badge</h3>
						<a class="close-badge-alert" href="#"><span class="icon-close"></span></a>
					</div>

					<div class="module-alert-main module">
						<h3 class="badgeTitle">{{alertBadge.name}}</h3>
						<img src="{{alertBadge.src}}" alt="{{alertBadge.name}}">
					</div>

					<div class="module-alert-footer module">
						<a class="btn btn-badges" href="/account/{{user}}/badges">View badges</a>
					</div>
				</div>
			</div>

			<div id="badge-overlay" class="bg-overlay"></div>
		{{/if}}

		<div class="module-alert hidden">
				<div class="module-alert-inner">
					<div class="module-alert-header module clearfix">
						<h3>Remove chore</h3>
						<a class="close" href="#"><span class="icon-close"></span></a>
					</div>

					<div class="module-alert-main module">
						<p>Are you sure you want to remove this chore? This action can not be undone.</p>

					</div>

					<div class="module-alert-footer module">
						<form action="#" method="POST">
							<input type="hidden" name="_method" value="DELETE">
							<button class="btn btn-cancel btn-remove"><span class="icon-remove"></span>Remove</button>
						</form>
					</div>
				</div>
			</div>

			<div id="overlay" class="bg-overlay hidden"></div>
	</div> {{! end .module }}
</div> {{! end .grid }}
