{{!< layout}}

<div class="grid">
	<div class="module">
		<section class="toolbar grid">
			<div class="col-1-3">
				<nav class="toolbar-menu">
					<ul>
						{{#if sortCompletedDate}}
							<li><a class="active" href="/{{user}}/chores/completed?sort=completedDate"><span class="icon-calendar"></span>Sort: Date Completed</a></li>
						{{else}}
							<li><a href="/{{user}}/chores/completed?sort=completedDate"><span class="icon-calendar"></span>Sort: Date Completed</a></li>
						{{/if}}

						{{#if sortPrio}}
							<li><a class="active" href="/{{user}}/chores/completed?sort=prio"><span class="icon-fire"></span>Sort: Prio</a></li>
						{{else}}
							<li><a href="/{{user}}/chores/completed?sort=prio"><span class="icon-fire"></span>Sort: Prio</a></li>
						{{/if}}
					</ul>
				</nav>
			</div>


			<div class="col-1-3">
				<nav class="toolbar-menu">
					<ul>
						<li class="current"><a href="/{{user}}/chores"><span class="icon-pushpin"></span>Current</a></li>
						<li class="completed"><a class="active" href="/{{user}}/chores/completed"><span class="icon-checkmark"></span>Completed</a></li>
						<li class="failed"><a href="/{{user}}/chores/failed"><span class="icon-warning"></span>Failed</a></li>
					</ul>
				</nav>
			</div>


			<div class="col-1-3">
				<span class="points">Rank: <span>{{meta.rank}}</span></span>
				<span class="points">Points: <span>{{meta.points}}</span></span>
				<span class="points">Multiplier: <span>{{meta.multiplier}}x</span></span>
			</div>

		</section>

		{{#if chores}}
			{{#each chores}}
			<div class="col-1-4">
				<div class="task module risk-{{prio}}">
					<h3>{{ name }}</h3>

					<p class="reward"><span class="icon-coin"></span>Reward: <span>{{ reward }}</span></p>
					<p class="risk"><span class="icon-fire"></span>Priority: {{prio}}</p>
					<p class="due"></span>This chore was completed on:</br> <span class="date-stamp">{{localDate}}</span></p>

					<form class="complete-chore" action="/{{../user}}/chores/{{_id}}" method="POST">
						<input type="hidden" name="_method" value="DELETE">
						<button class="btn task-done remove"><span class="icon-remove"></span>Remove for good</button>
					</form>
				</div>
			</div>
			{{/each}}
		{{else}}
			<p class="no-chore-message">You have not completed any chores</p>
		{{/if}}

		<div class="module-alert hidden">
			<div class="module-alert-inner">
				<div class="module-alert-header module clearfix">
					<h3>Remove chore</h3>
					<a class="close" href="#"><span class="icon-close"></span></a>
				</div>

				<div class="module-alert-main module">
					<p>Are you sure you want to remove this chore? This action can not be undone.</p>

				</div>

				<div class="module-alert-footer module">
					<form action="#" method="POST">
						<input type="hidden" name="_method" value="DELETE">
						<button class="btn btn-cancel btn-remove"><span class="icon-remove"></span>Remove</button>
					</form>
				</div>
			</div>
		</div>
	</div> {{! end .module }}
</div> {{! end .grid }}