{{!< layout}}
<div class="main module single-col contact-wrap">
	{{#if messages}}
		<span class="info-message">{{messages}} <a class="close-message" href="#"><span class="icon-close"></span></a></span>
	{{/if}}

	<h1>Contact us</h1>

	<p>Have a burning question, need support, found something you like or dislike? Feel free to contact us with your questions. We'll do our best to get back to you as soon as possible. You can also reach us on <a href="https://twitter.com/chorestr">@chorestr</a></p>
	<form action="/contact" method="POST">
		<label for="subject">Subject</label>
		<span class="subject-error error">{{errors.subject.msg}}</span>
		<input class="validate" type="text" placeholder="Required" value="{{bugReport.subject}}" id="subject" name="subject">

		<label for="email">Email</label>
		<span class="email-error error">{{errors.email.msg}}</span>
		<input class="validate" type="email" placeholder="Required" value="{{email}}" id="email" name="email">

		<label for="message">Message</label>
		<span class="message-error error">{{errors.message.msg}}</span>
		<textarea class="validate" placeholder="Required" name="message" id="message">{{bugReport.stack}}</textarea>

		<button class="btn btn-save"><span class="icon-forward"></span>Send</button>
	</form>
</div>