{{!< layout}}

<div class="grid">
	<div class="module">
		<section class="toolbar grid">
			<div class="col-1-3">
				<nav class="toolbar-menu">
					<ul>
						<li><a href="/{{user}}/chores/completed?sort=completedDate"><span class="icon-calendar"></span>Sort: Date Failed</a></li>
						<li><a href="/{{user}}/chores/completed?sort=prio"><span class="icon-fire"></span>Sort: Prio</a></li>
					</ul>
				</nav>
			</div>


			<div class="col-1-3">
				<nav class="toolbar-menu">
					<ul>
						<li class="current"><a href="/{{user}}/chores"><span class="icon-pushpin"></span>Current</a></li>
						<li class="completed"><a href="/{{user}}/chores/completed"><span class="icon-checkmark"></span>Completed</a></li>
						<li class="failed"><a class="active" href="/{{user}}/chores/failed"><span class="icon-warning"></span>Failed</a></li>
					</ul>
				</nav>
			</div>


			<div class="col-1-3">
				<span class="points">Points: {{meta.points}}</span>
				<a href="/{{ user }}/chores/new" class="btn new-chore"><span class="icon-plus"></span>New Chore</a>
			</div>

		</section>

		{{#if chores}}
			{{#each chores}}
			<div class="col-1-4">
				<div class="task module risk-{{prio}}">
					<h3>{{ name }}</h3>

					<p class="reward"><span class="icon-coin"></span>Reward: <span>{{ reward }}</span></p>
					<p class="risk"><span class="icon-fire"></span>Priority: {{prio}}</p>
					<p class="due"></span>This chore was completed on:</br> <span class="date-stamp">{{ complete.date }}</span></p>

					<form class="complete-chore" action="/{{../user}}/chores/{{_id}}" method="POST">
						<input type="hidden" name="_method" value="DELETE">
						<button class="btn task-done"><span class="icon-remove"></span>Remove for good</button>
					</form>


				</div>
			</div>
			{{/each}}
		{{else}}
			<p class="no-chore-message">You have no failed chores. Good job!</p>
		{{/if}}

	</div> {{! end .module }}
</div> {{! end .grid }}