<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="Chorestr makes it easy to organize your chores.">
        <meta name="viewport" content="width=device-width">
        <link href="http://fnt.webink.com/wfs/webink.css/?project=E64DD2E9-085E-4403-ADBE-1EB47BFEF3D0&fonts=99B90B52-FC86-D532-91E2-93D2FC4AE03D:f=FuturaPTBook-Reg,BE8D3979-1915-4052-1CA9-A6705FF0D750:f=LonghandLPRegular,0D47B8E9-3C6E-CE3D-89C8-57E788336980:f=RooneyWeb-Regular,C65CFDCF-329E-C2D3-A0CE-2DE9D7D6FEF6:f=FuturaPTMedium-Reg" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
      <span class="border-strip stripe-1"></span>
      <span class="border-strip stripe-2"></span>
      <span class="border-strip stripe-3"></span>
      <span class="border-strip stripe-4"></span>
      <span class="border-strip stripe-5"></span>
    	<header class="header">
        <div class="header-inner grid">
          {{#if user}}
            <a href="/{{user}}/chores" class="logo">Chorestr</a>
          {{else}}
            <a href="/" class="logo">Chorestr</a>
          {{/if}}
          <nav class="nav main-nav">
            <ul>
              {{#if user}}
                <li><a class="username" href="/account/{{user}}">{{user}}</a></li>
                <li>
                  <ul class="user-subnav hidden">
                    <li><a href="/account/{{user}}"><span class="icon-user"></span>Your Profile</a></li>
                    <li><a href="/account/{{user}}/edit"><span class="icon-cog"></span>Edit Profile</a></li>
                    <li><a href="/account/{{user}}/badges"><span class="icon-spades"></span>Your Badges</a></li>
                    <li><a href="/logout"><span class="icon-switch"></span>Log out</a></li>
                  </ul>
                </li>
                <li><a class="btn btn-chores" href="/{{user}}/chores">My Chores</a></li>
                <li><a href="/{{user}}/chores/new" class="btn new-chore"><span class="icon-plus"></span>New Chore</a></li>
                {{#if notification}}
                  <li class="notifications"><a class="show-activity-log btn new-notification" data-user="{{user}}" title="Notifications" href="#">{{notification}}</a></li>
                {{else}}
                  <li class="notifications"><a class="show-activity-log btn" data-user="{{user}}" title="Notifications" href="#">0</a></li>
                {{/if}}
              {{else}}
                <li><a href="/login" class="btn login">Log in</a></li>
                <li><a href="/register" class="btn register">Sign up</a></li>
              {{/if}}
            </ul>
          </nav>
        </div>

    	</header>
       <div class="wrapper">
       		{{{ body }}}
       </div>

       <div class="new-chore-box module-alert hidden">
          <div class="module-alert-header clearfix module">
            <h3>New chore</h3>
            <a class="close-new-chore close" href="#"><span class="icon-close"></span></a>
          </div>

          <form action="/{{user}}/chores/new" method="POST">
            <div class="module-alert-main module">
                <label for="title">1. Add a title for your chore</label>
                <span class="error title-error"></span>
                <input id="title" name="title" type="text">

                <label>2. Choose a priority for you chore.</label>

                <ul class="prio-picker clearfix">
                  <li class="prio-one">
                    <label class="radio-label" for="prio-1">1 (50 p)</label>
                    <input type="radio" id="prio-1" name="prio" value="1">
                  </li>

                  <li class="prio-two">
                    <label class="radio-label" for="prio-2">2 (75 p)</label>
                    <input type="radio" id="prio-2" name="prio" value="2">
                  </li>

                  <li class="prio-three">
                    <label class="radio-label" for="prio-3">3 (100 p)</label>
                    <input type="radio" id="prio-3" checked="checked" name="prio" value="3">
                  </li>

                  <li class="prio-four">
                    <label class="radio-label" for="prio-4">4 (150 p)</label>
                    <input type="radio" id="prio-4" name="prio" value="4">
                  </li>

                  <li class="prio-five">
                    <label class="radio-label" for="prio-5">5 (300 p)</label>
                    <input type="radio" id="prio-5" name="prio" value="5">
                  </li>
                </ul>
            </div>

            <div class="module-alert-footer module">
              <button class="btn btn-add">Add chore</button>
            </div>
          </form>
        </div>

       <div class="login-box module-alert hidden">
          <div class="module-alert-header module clearfix">
            <h3>Enter your login details</h3>
            <a class="close" href="#"><span class="icon-close"></span></a>
          </div>

          <div class="module-alert-main module">
            <form action="/login" method="POST">
              <input id="tz" type="hidden" name="timeZone">
              <label for="username">Username</label>
              <input type="text" id="username" name="username">

              <label for="password">Password</label>
              <input type="password" id="password" name="password">
              <button class="btn login">Log in</button>
            </form>
            <a href="/forgot">Forgot you password?</a>
          </div>
        </div>
        <div id="overlay" class="bg-overlay hidden"></div>
        <div class="activty-log-wrapper"></div>


        <footer class="footer">
          <div class="footer-inner grid">
            <p class="copyright">Copyright &copy; 2013 Chorestr</p>
            <nav class="footer-nav">
              <ul>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </nav>
          </div>
        </footer>

       <script src="/js/jquery-min.js"></script>
       <script src="/js/chorestr-min.js"></script>
    </body>
</html>
