<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link href="http://fnt.webink.com/wfs/webink.css/?project=E64DD2E9-085E-4403-ADBE-1EB47BFEF3D0&fonts=99B90B52-FC86-D532-91E2-93D2FC4AE03D:f=FuturaPTBook-Reg,0D47B8E9-3C6E-CE3D-89C8-57E788336980:f=RooneyWeb-Regular" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
      <span class="border-strip stripe-1"></span>
      <span class="border-strip stripe-2"></span>
      <span class="border-strip stripe-3"></span>
      <span class="border-strip stripe-4"></span>
      <span class="border-strip stripe-5"></span>
    	<header class="header">

        <div class="header-inner grid">
          {{#if user}}
            <a href="/{{user}}/chores" class="logo">Chorestr</a>
          {{else}}
            <a href="/" class="logo">Chorestr</a>
          {{/if}}
          <nav class="main-nav">
            <ul>
              {{#if user}}
                <li><a  class="username" href="#">{{user}}</a></li>
                <li><a href="#" class="btn logout">Log out</a></li>
              {{else}}
                <li><a href="/login" class="btn login">Log in</a></li>
                <li><a href="/register" class="btn register">Sign up</a></li>
                <li>
                  <div class="login-box module hidden">
                    <form action="/login" method="POST">
                      <p>Enter your login details</p>

                      <input type="text" id="username" placeholder="Username" name="username">

                      <input type="password" id="password" placeholder="Password" name="password">
                      <button class="btn login">Log in</button>
                    </form>
                    <a href="/forgot">forgot you password?</a>
                  </div>
                </li>

              {{/if}}
            </ul>
          </nav>
        </div>

    	</header>
       <div class="wrapper">
       		{{{ body }}}

       </div>
       <footer class="footer">

        </footer>

       <script src="/js/jquery-min.js"></script>
       <script src="/js/chorestr.js"></script>
    </body>
</html>
