{{!< layout}}

<div class="main module single-col register-form">
	<h1>Join Chorestr today</h1>
	{{#if userExists}}
		<span class="info-message">{{userExists}}<a class="close-message" href="#"><span class="icon-close"></span></a></span>
	{{/if}}
	<form action="/register" method="POST">
		<input id="tz" type="hidden" name="timeZone">
		<label for="username">Choose your username</label>
		<span class="username-error error">{{errors.username.msg}}</span>
		<input type="text" class="validate" id="username" name="username" placeholder="required" value="{{userInput.username}}">

		<label for="email">Email</label>
		<span class="email-error error">{{errors.email.msg}}</span>
		<input type="email" class="validate" id="email" placeholder="required" name="email" value="{{userInput.email}}">

		<label for="password">Create password</label>
		<span class="password-error error">{{errors.password.msg}}</span>
		<span class="pwd-strength"></span>
		<input type="password" class="validate validate-strength" placeholder="required" id="password" name="password">

		<button class="btn register">Create account</button>
		<p>By signing up you accept our <a href="/privacy">terms of use</a></p>
	</form>
</div>