{{!< layout}}

<div class="main module single-col register-form">
	<h1>Join Chorestr today</h1>
	<form action="/register" method="POST">

		<label for="username">Choose your username</label>
		<span class="error">{{errors.username.msg}}</span>
		<span class="error">{{userExists}}</span>
		<input type="text" id="username" placeholder="You can change this later" name="username" value="{{userInput.username}}">

		<label for="email">Email adress</label>
		<span class="error">{{errors.email.msg}}</span>
		<input type="email" id="email" placeholder="jane@doe.com" name="email" value="{{userInput.email}}">

		<label for="password">Create password</label>
		<span class="error">{{errors.password.msg}}</span>
		<input type="password" id="password" placeholder="Art least 6 characters" name="password">

		<button class="btn register">Create account</button>
		<p>By signing up ypu accept our <a href="#">terms of use</a></p>
	</form>
</div>