{{!< layout}}

<div class="main module grid">
	{{#if messages}}
		<span class="info-message">{{messages}} <a class="close-message" href="#"><span class="icon-close"></span></a></span>
	{{/if}}

	<header class="main-header clearfix">
		<h1>Hello {{userDetails.username}}</h1>
		<nav class="nav user-nav clearfix">
			<ul>
				<li><a class="active btn btn-menu" href="/account/{{userDetails.username}}">My Profile</a></li>
				<li><a class="btn btn-menu awards-menu-item" data-count="{{awardsCount}}" href="/account/{{userDetails.username}}/badges">My Badges</a></li>
			</ul>
		</nav>
	</header>

	<div class="col-1-2">
		<div class="account-details module">
			<h2>Account details</h2>
			<p>Username: {{userDetails.username}}</p>
			<p>Email: {{userDetails.email}}</p>
		</div>
	</div>

	<div class="col-1-2">
		<div class="stats module">
			<h2>Stats</h2>

			<p class="btn stats-item">Points: <span>{{userDetails.meta.points}}</span></p>
			<p class="btn stats-item">Completed chores: <span>{{userDetails.meta.completedTotal}}</span></p>
			<p class="btn stats-item">Failed chores: <span>{{userDetails.meta.failedTotal}}</span></p>
			<p class="btn stats-item">Multiplier: <span>{{userDetails.meta.multiplier}}</span>x</p>

			<h2>Completed by priority</h2>

			<p class="btn stats-item prio-one">Priority One: <span>{{userDetails.meta.completedPrio.One}}</span></p>
			<p class="btn stats-item prio-two">Priority Two: <span>{{userDetails.meta.completedPrio.Two}}</span></p>
			<p class="btn stats-item prio-three">Priority Three: <span>{{userDetails.meta.completedPrio.Three}}</span></p>
			<p class="btn stats-item prio-four">Priority Four: <span>{{userDetails.meta.completedPrio.For}}</span></p>
			<p class="btn stats-item prio-five">Priority Five: <span>{{userDetails.meta.completedPrio.Five}}</span></p>
		</div>
	</div>

	<div class="col-1-1">
		<form class="edit-account" action="/account/{{userDetails.username}}" method="POST">
			<input type="hidden" name="_method" value="DELETE">
			<button class="btn btn-remove"><span class="icon-remove"></span>Delete account</button>
		</form>

		<form class="edit-account" action="/account/{{userDetails.username}}/edit" method="GET">
			<button class="btn btn-edit"><span class="icon-pencil"></span>Edit account</button>
		</form>
	</div>

</div>
