{{!< layout}}

<div class="module grid">
	{{#if messages}}
		<span class="info-message">{{messages}} <a class="close-message" href="#"><span class="icon-close"></span></a></span>
	{{/if}}

	<header class="user-header clearfix">
		<h1>Hello {{userDetails.username}}</h1>
		<nav class="nav user-nav clearfix">
			<ul>
				<li><a class="active btn btn-menu" href="/account/{{userDetails.username}}">My Profile</a></li>
				<li><a class="btn btn-menu awards-menu-item" href="/account/{{userDetails.username}}/badges">My Badges</a></li>
			</ul>
		</nav>
	</header>

	<div class="col-1-2">
		<div class="main module">
			<div class="userbox-inner module clearfix">

				<h2>Account details</h2>
				<div class="profile-pic">
					<img src="{{profilePic}}" alt="Profile picture of {{userDetails.username}}">
				</div>

				<div class="user-info">
					<div class="userbox-item">
						<h4>Username</h4>
						<p>{{userDetails.username}}</p>
					</div>

					<div class="userbox-item">
						<h4>Email</h4>
						<p>{{userDetails.email}}</p>
					</div>
				</div>
				<a href="http://www.gravatar.com">(Edit profile image)</a>
				<div class="col-1-1 account-buttons">
					<form class="edit-account" action="/account/{{userDetails.username}}" method="POST">
						<input type="hidden" name="_method" value="DELETE">
						<button class="btn btn-remove remove"><span class="icon-remove"></span>Delete account</button>
					</form>

					<form class="edit-account" action="/account/{{userDetails.username}}/edit" method="GET">
						<button class="btn btn-edit"><span class="icon-pencil"></span>Edit account</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="col-1-2">
		<div class="module main">
			<div class="userbox-inner module">
				<h2>Stats</h2>

				<p class="btn stats-item">Points: <span>{{userDetails.meta.points}}</span></p>
				<p class="btn stats-item">Completed chores: <span>{{userDetails.meta.completedTotal}}</span></p>
				<p class="btn stats-item">Failed chores: <span>{{userDetails.meta.failedTotal}}</span></p>
				<p class="btn stats-item">Multiplier: <span>{{userDetails.meta.multiplier}}</span>x</p>
				<p class="btn stats-item">Rank: <span>{{userDetails.meta.rank}}</span></p>

				<h2>Completed by priority</h2>

				<p class="btn stats-item prio-one">Priority One: <span>{{userDetails.meta.completedPrio.One}}</span></p>
				<p class="btn stats-item prio-two">Priority Two: <span>{{userDetails.meta.completedPrio.Two}}</span></p>
				<p class="btn stats-item prio-three">Priority Three: <span>{{userDetails.meta.completedPrio.Three}}</span></p>
				<p class="btn stats-item prio-four">Priority Four: <span>{{userDetails.meta.completedPrio.For}}</span></p>
				<p class="btn stats-item prio-five">Priority Five: <span>{{userDetails.meta.completedPrio.Five}}</span></p>

			</div>
		</div>
	</div>

	<div class="module-alert hidden">
		<div class="module-alert-inner">
			<div class="module-alert-header module clearfix">
				<h3>Remove account</h3>
				<a class="close" href="#"><span class="icon-close"></span></a>
			</div>

			<div class="module-alert-main module">
				<p>Are you sure you want to remove this chore? This action can not be undone.</p>

			</div>

			<div class="module-alert-footer module">
				<form action="#" method="POST">
					<input type="hidden" name="_method" value="DELETE">
					<button class="btn btn-cancel btn-remove"><span class="icon-remove"></span>Delete for good</button>
				</form>
			</div>
		</div>
	</div>

	<div id="overlay" class="bg-overlay hidden"></div>
</div>
